.git
.gitignore
.dockerignore

**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/

**/*.user
**/*.suo
**/*.lscache

test/**/TestResults/
**/coverage/
**/coverage.*

*.md
Dockerfile*
docker-compose*.yml

src/AIMS.BackendServer/keys/
src/AIMS.BackendServer/wwwroot/uploads/
